._7Fshu {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._17Xxy:after, ._17Xxy:before {
    content: " ";
    display: table
}

._17Xxy:after {
    clear: both
}

._1Y2jI {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._1Y2jI:hover {
    opacity: .7
}

._1Y2jI:disabled {
    opacity: .5;
    cursor: not-allowed
}

._1Y2jI:disabled:hover {
    opacity: .5
}

._8Xs19::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

._8Xs19::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

._8Xs19::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._2oaoM::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._3HKzV {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
    position: relative
}

._3HKzV, ._3HKzV .vT4_t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._3HKzV .vT4_t li {
    width: 80px;
    text-align: center
}

._3HKzV .vT4_t li._2vjT2 {
    position: relative
}

._3HKzV .vT4_t li._2vjT2 i {
    position: absolute;
    top: -20px;
    left: 0;
    display: inline-block;
    background-image: url('5158ba8fa7f66e9083b2064891196c12.png');
    background-size: cover;
    width: 112px;
    height: 83.33333333px
}

._3HKzV .vT4_t li.m48b6 {
    /*margin-left: 50px*/
}

._3HKzV ._1AlxN {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._3HKzV ._1AlxN ._2IsC_ {
    margin-left: 10px;
    min-width: 68px;
    text-align: center
}

._3HKzV .BNC_Y {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._3HKzV .BNC_Y ._1jpIb {
    padding: 2px
}

._3HKzV .BNC_Y ._1jpIb._31aGn {
    display: inline-block;
    background-image: -webkit-gradient(linear, right top, left top, from(#9b3608), to(#4a0d2c));
    background-image: linear-gradient(270deg, #9b3608, #4a0d2c)
}

._3HKzV .BNC_Y ._1jpIb._31aGn button {
    color: #fff
}

._3HKzV .BNC_Y ._1jpIb button {
    min-height: 38px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 15px;
    background-color: #171e26;
    color: hsla(0, 0%, 100%, .3);
    padding: 6px 15px 6px 34px;
    border: none;
    cursor: pointer
}

._3HKzV .BNC_Y ._1jpIb button > em {
    font-style: normal;
    text-transform: uppercase
}

._3HKzV .BNC_Y ._1jpIb button.aVqXZ {
    background-image: url('eos.png')
}

._3HKzV .BNC_Y ._1jpIb button._3Nh_x {
    background-image: url('icon-eth.png')
}

._3HKzV .BNC_Y ._1jpIb button._3BTsd {
    background-image: url('fdb9951c36ca9fd0bc0a03a8016ca3e8.jpg')
}

._3HKzV ._2gI-d {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%
}

._3H5Ef {
    height: 40px;
    background-image: -webkit-gradient(linear, right top, left top, from(#45d1e1), to(#09483f));
    background-image: linear-gradient(270deg, #45d1e1, #09483f);
    padding: 2px
}

._3H5Ef ._1fto3 {
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    background-color: #0e131d;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer
}

._1wpBR {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._1bKwJ:after, ._1bKwJ:before {
    content: " ";
    display: table
}

._1bKwJ:after {
    clear: both
}

._2_eR3 {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._2_eR3:hover {
    opacity: .7
}

._2_eR3:disabled {
    opacity: .5;
    cursor: not-allowed
}

._2_eR3:disabled:hover {
    opacity: .5
}

.FT1vI::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

.FT1vI::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

.FT1vI::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._1jqd4::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._3rG6Z {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px
}

._3rG6Z ._2-ZJJ {
    font-size: 100px;
    line-height: 100px;
    color: #fbc80d;
    text-shadow: 0 0 6px #ff2d2d;
    font-weight: 300
}

._3rG6Z ._2-ZJJ > span {
    display: inline-block;
    width: 120px
}

._38Cx_ {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px
}

._2gSpK, ._38Cx_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._2gSpK {
    position: relative;
    width: 350px;
    height: 110px;
    background-image: url('aec6c65a61bba00d84c7bdf4c50163ac.png');
    background-size: cover;
    padding: 0 35px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, .3)
}

._2gSpK ._2TWU5, ._2gSpK ._3AEek, ._2gSpK ._3FOJt {
    width: 55px;
    height: 63px;
    display: inline-block;
    background-image: url('8a4b540759726ffdf410b01327285581.png');
    background-size: cover;
    margin-right: 25px
}

._2gSpK ._3FOJt {
    background-image: url('f5714fc82619d8d84258c5d9686bcaaa.png');
    width: 63px;
    height: 73px
}

._2gSpK ._3AEek {
    background-image: url('9eeebfb08880d3854b329400ad2f8e9a.png')
}

._2gSpK ._26FMC {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._2gSpK ._26FMC i {
    margin-left: 4px
}

._2gSpK ._33khv, ._2gSpK ._38zqW {
    color: #fff
}

._2gSpK ._2YYit {
    color: #fbc80d
}

._2gSpK ._1654l {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 5px
}

.wrNC5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.zzKuL:after, .zzKuL:before {
    content: " ";
    display: table
}

.zzKuL:after {
    clear: both
}

._2xpAz {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._2xpAz:hover {
    opacity: .7
}

._2xpAz:disabled {
    opacity: .5;
    cursor: not-allowed
}

._2xpAz:disabled:hover {
    opacity: .5
}

._1UOqQ::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

._1UOqQ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

._1UOqQ::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

.oT6MU::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._1JTs3 {
    width: 350px;
    padding: 10px 12px;
    background-color: #171d25;
    height: 846px
}

._1JTs3 ._3kXmz {
    height: 75px;
    background-image: url('2ac58d95d7d40fd99bb3bed0cbd70d77.png');
    background-size: cover;
    padding-left: 30px;
    padding-top: 24px;
    position: relative;
    margin-bottom: 10px
}

._1JTs3 ._3kXmz > p {
    font-size: 14px;
    line-height: 14px
}

._1JTs3 ._3kXmz > p._2GkKL {
    color: #000;
    margin-top: 5px
}

._1JTs3 ._3kXmz > span {
    position: absolute;
    top: 14px;
    right: 25px;
    cursor: pointer;
    opacity: .8;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._1JTs3 ._3kXmz > span:hover {
    opacity: 1
}

._1JTs3 ._1oJZk {
    background-color: #10141f;
    height: 28px;
    margin-top: 10px;
    margin-bottom: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1px
}

._1JTs3 ._1oJZk > div {
    background-color: #3c4b5d;
    width: 2px;
    height: 100%;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 3px #b0b0b0;
    box-shadow: 0 0 3px #b0b0b0
}

._1JTs3 ._1oJZk > i {
    font-size: 12px
}

._1JTs3 ._1keCl {
    background-color: #0f131c;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 18px 20px 33px;
    text-align: center
}

._1JTs3 ._1keCl, ._1JTs3 ._1keCl .V4xnh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._1JTs3 ._1keCl .V4xnh > i {
    margin-left: 5px
}

._34sLi {
    height: 115px;
    background-image: url('09ec5078a1239bd63cd58b050ad8af58.png');
    background-size: cover;
    padding: 20px 15px 26px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px
}

._34sLi:last-of-type {
    margin-bottom: 10px
}

._34sLi .KoA2O {
    background-image: url('9642cad406416b0d215e70e948840eee.png');
    background-size: cover;
    font-style: normal;
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 39px;
    line-height: 39px;
    color: hsla(0, 0%, 100%, .3)
}

._34sLi ._1_QYn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px
}

._34sLi ._1_QYn, ._34sLi ._1_QYn ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._34sLi ._1_QYn ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._34sLi ._1_QYn ul:first-child {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 4px
}

._34sLi ._1_QYn ul:nth-child(2) {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 17px;
    color: hsla(0, 0%, 100%, .3)
}

._34sLi ._1_QYn ul:last-child {
    font-size: 12px
}

._34sLi ._1_QYn ul ._2gMYE {
    width: 100px;
    margin-right: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._34sLi ._1_QYn ul .LzVNT {
    min-width: 96px
}

._34sLi ._1_QYn ul .LzVNT.vy-zN {
    color: #0e6b63
}

._20Hb6 {
    height: 630px;
    overflow-y: auto
}

._20Hb6::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

._20Hb6::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

._20Hb6::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._20Hb6 ._3V84Q {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer
}

._1_vXi {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.s1LGP:after, .s1LGP:before {
    content: " ";
    display: table
}

.s1LGP:after {
    clear: both
}

.dyQfu {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.dyQfu:hover {
    opacity: .7
}

.dyQfu:disabled {
    opacity: .5;
    cursor: not-allowed
}

.dyQfu:disabled:hover {
    opacity: .5
}

._2siEF::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

._2siEF::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

._2siEF::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._2qvBW::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._1z5hK {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 36px
}

._3yBp5 {
    font-size: 14px;
    text-transform: uppercase
}

._27Bto {
    color: hsla(0, 0%, 100%, .3);
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 24px
}

._3DVmJ {
    font-size: 14px;
    color: #d52454
}

.xuznu ._1UNBE, .xuznu ._1V_a8, .xuznu ._2_uun {
    width: 285px;
    background-size: cover;
    margin-bottom: 6px;
    cursor: pointer
}

.xuznu ._2_uun {
    height: 80px
}

.xuznu ._2_uun._35AFA {
    background-image: url('5666a59ec2b32ffc1bd17650c4a83869.png')
}

.xuznu ._2_uun._190vv {
    background-image: url('1f71db2d97ea593e2d00eca3ebde5313.png')
}

.xuznu ._1V_a8 {
    height: 57px
}

.xuznu ._1V_a8._35AFA {
    background-image: url('9532547117aa6147a5d6c35153162490.png')
}

.xuznu ._1V_a8._190vv {
    background-image: url('a2449667682ab1bb236fc0c09547a0b8.png')
}

.xuznu ._1UNBE {
    height: 57px
}

.xuznu ._1UNBE._35AFA {
    background-image: url('748172806568591a374b12bf1e5e924e.png')
}

.xuznu ._1UNBE._190vv {
    background-image: url('541f8a01ce166dbcb0763c42473aca61.png')
}

._2Sdx- {
    width: 349px
}

._2Sdx- ._1IWqe, ._2Sdx- ._1RSxs, ._2Sdx- ._2Fyve {
    width: 100%;
    background-size: cover;
    margin-bottom: 15px;
    cursor: pointer
}

._2Sdx- ._2Fyve {
    height: 95px
}

._2Sdx- ._2Fyve._35AFA {
    background-image: url('6cb0f1cfb44e5640d098be9ff39a0f1d.png')
}

._2Sdx- ._2Fyve._190vv {
    background-image: url('8e45b867eed6d1c1de6889b943e00c85.png')
}

._2Sdx- ._1RSxs {
    height: 135px
}

._2Sdx- ._1RSxs._35AFA {
    background-image: url('26baf9663cebd05ae62e7899a4fed7ce.png')
}

._2Sdx- ._1RSxs._190vv {
    background-image: url('94dff950c42b53f4de8227969fd1b7d9.png')
}

._2Sdx- ._1IWqe {
    height: 95px
}

._2Sdx- ._1IWqe._35AFA {
    background-image: url('179c7b71da8f27274fb6b0f6f214cfc0.png')
}

._2Sdx- ._1IWqe._190vv {
    background-image: url('4f57f3a0672ee5954c315239da26287b.png')
}

._2Sdx- ._77us7 {
    width: 125px;
    height: 35px;
    background-size: cover
}

._2Sdx- ._77us7._35AFA {
    background-image: url('50b31baec3154bd924b2f1c1d9ea8c3a.png')
}

._2Sdx- ._77us7._190vv {
    background-image: url('8068db98f616451f82a60cbf53258993.png')
}

._2JyFL {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._2bFPV:after, ._2bFPV:before {
    content: " ";
    display: table
}

._2bFPV:after {
    clear: both
}

._1uUMH {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._1uUMH:hover {
    opacity: .7
}

._1uUMH:disabled {
    opacity: .5;
    cursor: not-allowed
}

._1uUMH:disabled:hover {
    opacity: .5
}

._3K8P8::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

._3K8P8::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

._3K8P8::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._1VLO0::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

.t9Lfd {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 30px
}

._2x61W, .t9Lfd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

._2x61W {
    background-color: #171d25;
    width: 100%;
    padding: 25px 0 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._2x61W ._1MDIr {
    width: 32px;
    height: 38px
}

._2x61W ._1J4O_ {
    width: 500px;
    height: 40px;
    background-image: url('d7be04ca16e257a2cfe8a60cf4352fa2.png');
    background-size: cover;
    margin-top: 20px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center
}

._2x61W ._1J4O_ i {
    width: 100%
}

._2x61W ._3R_3Z {
    background-color: #131a23;
    margin-top: 15px;
    width: 500px
}

._2x61W ._3R_3Z, ._2x61W .ywlSf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._2x61W .ywlSf {
    border: 2px solid #2b2b2b;
    height: 50px
}

._2x61W .ywlSf, ._2x61W .ywlSf input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

._2x61W .ywlSf input {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0 10px
}

._2x61W .ywlSf ._1lTLB {
    border-left: 2px solid #2b2b2b;
    width: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

._2x61W ._1fBSD, ._2x61W .ywlSf ._1lTLB {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._2x61W ._1fBSD {
    background-color: #29303a;
    width: 195px;
    padding: 0 10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

._2x61W ._1fBSD, ._2x61W ._1fBSD i {
    margin-left: 10px
}

._2x61W button {
    background-image: url('e537a87ee36046aec136ead7b034aab8.png');
    width: 257px;
    height: 50px;
    background-color: transparent;
    background-size: cover;
    border: none;
    color: #fff;
    margin-top: 25px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._2x61W button:hover {
    opacity: .7
}

._2x61W button:disabled {
    opacity: .5;
    cursor: not-allowed
}

._2x61W button:disabled:hover {
    opacity: .5
}

.AFb5V {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px
}

.AFb5V .dvjGH:first-child i {
    background-image: url('ab46ced80e121e87208c31c2b7d86be3.png')
}

.AFb5V .dvjGH:last-child {
    margin-left: 290px
}

.AFb5V .dvjGH:last-child i {
    background-image: url('ab319efa4343d98a221dfa693c70a41c.png')
}

.AFb5V .dvjGH i {
    width: 64px;
    height: 75px;
    display: inline-block;
    background-size: cover
}

.AFb5V .dvjGH p {
    font-size: 28px
}

.AFb5V .dvjGH span {
    font-size: 12px;
    color: hsla(0, 0%, 100%, .3)
}

._20_oo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 37px
}

._20_oo ._11eyq {
    padding: 15px 15px 20px;
    background-color: #171d25;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

._20_oo ._11eyq, ._20_oo ._11eyq ._2koZ- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._20_oo ._11eyq ._2koZ- {
    height: 50px;
    width: 257px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._20_oo ._11eyq ._2koZ-:hover {
    opacity: .7
}

._20_oo ._11eyq ._2koZ-:disabled {
    opacity: .5;
    cursor: not-allowed
}

._20_oo ._11eyq ._2koZ-:disabled:hover {
    opacity: .5
}

._20_oo ._11eyq ._2koZ- i {
    display: inline-block;
    width: 18px;
    height: 22px;
    margin-right: 5px;
    background-size: cover
}

._20_oo ._11eyq p {
    font-size: 14px;
    color: hsla(0, 0%, 100%, .3);
    margin: 20px 0 6px
}

._20_oo ._11eyq:first-child ._2koZ- {
    background-image: url('161f955a7d77963ad4abacfb509dbf1c.png');
    background-size: cover
}

._20_oo ._11eyq:first-child ._2koZ- i {
    background-image: url('c0249db579c7ad54fbe859dc728ab10d.png')
}

._20_oo ._11eyq:last-child {
    margin-left: 15px
}

._20_oo ._11eyq:last-child ._2koZ- {
    background-image: url('ae1e12f52e690db01d9684b30be35bf1.png');
    background-size: cover
}

._20_oo ._11eyq:last-child ._2koZ- i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('b164e828f04c99f59642f10442f76994.png')
}

._3cyIV {
    margin-top: 30px;
    background-image: url(/f999a112f5ef55c76310bd53401a25f8.png);
    width: 735px;
    height: 333px;
    background-size: cover;
    padding: 20px 90px
}

._3cyIV ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    line-height: 14px
}

._3cyIV ul li {
    text-align: center
}

._3cyIV ul li:first-child {
    width: 60px
}

._3cyIV ul li:last-child {
    width: 400px
}

._3cyIV ._2-mjs {
    color: hsla(0, 0%, 100%, .3);
    margin-bottom: 20px
}

._3cyIV .eDrY0 {
    overflow: auto;
    height: 259px
}

._3cyIV .eDrY0::-webkit-scrollbar {
    display: none
}

._3cyIV .eDrY0 ._3v4TI {
    margin-bottom: 15px
}

.-s0qH {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._5CVTB:after, ._5CVTB:before {
    content: " ";
    display: table
}

._5CVTB:after {
    clear: both
}

._3ojVA {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._3ojVA:hover {
    opacity: .7
}

._3ojVA:disabled {
    opacity: .5;
    cursor: not-allowed
}

._3ojVA:disabled:hover {
    opacity: .5
}

._3ap0U::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

._3ap0U::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

._3ap0U::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

.nWYSj::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

.UjuEG {
    padding-top: 30px;
    text-align: center
}

.UjuEG .rGAjU {
    line-height: 40px;
    background-image: url('40050fd1160e0658a54f6be28ab5a248.png');
    width: 500px;
    height: 40px;
    overflow-x: auto;
    padding: 0 20px
}

.UjuEG .rGAjU, .UjuEG .sOtJx {
    background-size: cover;
    display: inline-block
}

.UjuEG .sOtJx {
    margin-top: 20px;
    line-height: 50px;
    cursor: pointer;
    background-image: url('153a7fc62cdb5f1324b02476baa9c9f5.png');
    width: 257px;
    height: 50px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.UjuEG .sOtJx:hover {
    opacity: .7
}

.UjuEG .sOtJx:disabled {
    opacity: .5;
    cursor: not-allowed
}

.UjuEG .sOtJx:disabled:hover {
    opacity: .5
}

.UjuEG .oGArP {
    margin-top: 30px;
    line-height: 40px;
    background-image: url('d2ffa3cb530c8a7d94a077c0e15dd1b5.png');
    width: 500px;
    height: 40px
}

.UjuEG .g6dZA, .UjuEG .oGArP {
    background-size: cover;
    display: inline-block
}

.UjuEG .g6dZA {
    margin-top: 20px;
    line-height: 50px;
    cursor: pointer;
    background-image: url(/63e016889340545efb3b4dbfc33723c9.png);
    width: 257px;
    height: 50px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.UjuEG .g6dZA:hover {
    opacity: .7
}

.UjuEG .g6dZA:disabled {
    opacity: .5;
    cursor: not-allowed
}

.UjuEG .g6dZA:disabled:hover {
    opacity: .5
}

._2JRfb {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._1lQVK:after, ._1lQVK:before {
    content: " ";
    display: table
}

._1lQVK:after {
    clear: both
}

._1q7sk {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._1q7sk:hover {
    opacity: .7
}

._1q7sk:disabled {
    opacity: .5;
    cursor: not-allowed
}

._1q7sk:disabled:hover {
    opacity: .5
}

._3yEdj::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

._3yEdj::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

._3yEdj::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._1sImi::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._3QV-A {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 34px;
    background-image: url('3227b0d5c09d88167304bc0c78b7ccb6.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom
}

._3Wt4G {
    width: 100%;
    height: 60px;
    background-image: url('6d401f441fe28b066de625d96fba6789.png');
    background-size: cover;
    font-size: 14px;
    color: hsla(0, 0%, 100%, .3)
}

._3Wt4G, ._3Wt4G span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._3Wt4G span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    cursor: pointer
}

._3Wt4G ._1h8_m {
    color: #d52454
}

._2Y6-a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._22R7V:after, ._22R7V:before {
    content: " ";
    display: table
}

._22R7V:after {
    clear: both
}

._2qIeo {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._2qIeo:hover {
    opacity: .7
}

._2qIeo:disabled {
    opacity: .5;
    cursor: not-allowed
}

._2qIeo:disabled:hover {
    opacity: .5
}

.icMms::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

.icMms::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

.icMms::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._17o4k::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._1Aumt {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

._1Aumt ._36W14 {
    position: relative
}

._1Aumt ._36W14 .B4Kz_ {
    display: inline-block;
    background-image: url('494aac04dbfc1f7d0e4e95c33d61a676.png');
    background-size: cover;
    width: 26px;
    height: 22px
}

._1Aumt ._36W14 ._2e2AS {
    position: absolute;
    top: -55px;
    right: 40px;
    background-size: cover;
    width: 130px;
    height: 130px;
    opacity: 0;
    z-index: -1
}

._1Aumt ._36W14 ._2e2AS, ._1Aumt ._36W14 ._2e2AS.cEeqF {
    background-image: url('0c3234bc80c3dc61386fc7dd5b603c1c.jpg')
}

._1Aumt ._36W14 ._2e2AS.cEeqF {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    z-index: 0
}

._1Aumt ._2Q3-j {
    background-image: url('f8f6fd345801a0cbac0215cd36d84bdf.png');
    height: 20px;
    margin-top: 10px
}

._1Aumt ._1d3mR, ._1Aumt ._2Q3-j {
    background-size: cover;
    width: 24px
}

._1Aumt ._1d3mR {
    background-image: url(/80e97244ae737c6f1b30e938e2638628.jpg);
    height: 24px;
    margin-top: 15px
}

._2mjqc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.Ca9uL:after, .Ca9uL:before {
    content: " ";
    display: table
}

.Ca9uL:after {
    clear: both
}

._3QQFs {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._3QQFs:hover {
    opacity: .7
}

._3QQFs:disabled {
    opacity: .5;
    cursor: not-allowed
}

._3QQFs:disabled:hover {
    opacity: .5
}

.tlc4P::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

.tlc4P::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

.tlc4P::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._2HrjA::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._3D9VK {
    position: relative;
}

._3D9VK._3yagA {
    display: block
}

._3D9VK ._3Eaez {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5)
}

._3D9VK ._1nKxi {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    padding: 20px;
    font-weight: 300;
    width: 800px;
    min-height: 300px;
    border: 1px solid #6b0f0f;
    -webkit-box-shadow: inset 0 0 8px 1px #9b0808;
    box-shadow: inset 0 0 8px 1px #9b0808;
    background-color: #171d25;
    line-height: 1.8
}

._3D9VK ._1nKxi ._20swm {
    overflow: auto;
    height: 500px;
    padding-right: 20px
}

._3D9VK ._1nKxi ._20swm a {
    color: #2bffee
}

._3D9VK ._1nKxi ._20swm > ul {
    list-style-type: decimal;
    padding-left: 20px;
    padding-bottom: 20px
}

._3D9VK ._1nKxi ._20swm > ul li {
    list-style-type: decimal
}

._3D9VK ._1nKxi ._20swm > ul li > ul {
    list-style-type: lower-latin;
    padding-left: 20px
}

._3D9VK ._1nKxi ._20swm > ul li > ul li {
    list-style-type: lower-latin
}

._3D9VK ._1nKxi ._1T42u {
    background-image: url('icon-close.png');
    background-size: cover;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 10;
    cursor: pointer
}

.t8XyY {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._2IlkC:after, ._2IlkC:before {
    content: " ";
    display: table
}

._2IlkC:after {
    clear: both
}

._36Wyx {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

._36Wyx:hover {
    opacity: .7
}

._36Wyx:disabled {
    opacity: .5;
    cursor: not-allowed
}

._36Wyx:disabled:hover {
    opacity: .5
}

.i3ygX::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

.i3ygX::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

.i3ygX::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._2qL4D::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._18z8M {
    position: relative;
}

._18z8M._2n5IA {
    display: block
}

._18z8M .Z8QHv {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5)
}

._18z8M ._108_n {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    padding: 20px;
    font-weight: 300;
    width: 800px;
    min-height: 300px;
    border: 1px solid #6b0f0f;
    -webkit-box-shadow: inset 0 0 8px 1px #9b0808;
    box-shadow: inset 0 0 8px 1px #9b0808;
    background-color: #171d25;
    line-height: 1.8
}

._18z8M ._108_n ._2Lyvp {
    padding-right: 20px
}

._18z8M ._108_n ._2Lyvp h3 {
    margin-top: 0
}

._18z8M ._108_n ._2Lyvp a {
    color: #2bffee
}

._18z8M ._108_n ._2Lyvp ul {
    padding-left: 20px
}

._18z8M ._108_n ._2Lyvp ul, ._18z8M ._108_n ._2Lyvp ul li {
    list-style-type: lower-latin
}

._18z8M ._108_n ._2Lyvp p {
    margin-top: 20px
}

._18z8M ._108_n ._2Lyvp p span {
    color: #2bffee;
    text-decoration: underline;
    cursor: pointer
}

._18z8M ._108_n ._3w9f_ {
    background-image: url('icon-close.png');
    background-size: cover;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 10;
    cursor: pointer
}

._2QiX6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

._14HUz:after, ._14HUz:before {
    content: " ";
    display: table
}

._14HUz:after {
    clear: both
}

.xMDL- {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.xMDL-:hover {
    opacity: .7
}

.xMDL-:disabled {
    opacity: .5;
    cursor: not-allowed
}

.xMDL-:disabled:hover {
    opacity: .5
}

.t6gq9::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 1px
}

.t6gq9::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, 0)
}

.t6gq9::-webkit-scrollbar-track {
    border-radius: 50px;
    background: transparent
}

._3SBoA::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 1px
}

._2FNbP {
    max-width: 1120px;
    margin: 0 auto;
    padding: 40px 0
}

._2FNbP ._3Nrlz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 40px
}

._2FNbP ._3ILQJ {
    min-width: 1120px
}
